test/
__pycache__/
.vscode/
.vs/
.idea/
*/.DS_Store
*/.ipynb_checkpoints
*/.pytest_cache
*/.mypy_cache
*/.venv
*/.env
*/.envrc
*/.envrc.local
*/.envrc.private
*/.envrc.private.local
*/.envrc.private.local.local
*/.envrc.private.local.local.local
*/.envrc.private.local.local.local.local
.venv
.env
.envrc
.envrc.local
.envrc.private
.envrc.private.local
.envrc.private.local.local
.envrc.private.local.local.local
.envrc.private.local.local.local.local